@model LeyesTFG.Models.Ley

@{
    ViewData["Title"] = "Borrar";
}

<h1 class="tituloTabla text-center">Borrar</h1>

<h3 class="text-center">¿Estás seguro que quieres eliminar esta ley de la base de datos?<br></h3>
<h3 class="text-center" style="color: red;">Todos sus artículos y modificaciones también serán eliminadas</h3>
<h4 class="text-center">Ley</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPublicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPublicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento)
        </dd>
    </dl>
    
    <form asp-action="Delete" style="display:inline-block;" onclick="return confirm('Estas seguro de querer borrar esta ley')">
        <input type="hidden" asp-for="LeyId" />
        <input type="submit" value="Delete" class="boton_tabla bg-danger" /> |
    </form>
    <a class="boton_tabla back_blue" asp-action="Index">Volver a la lista</a>
</div>
