@model LeyesTFG.Models.Articulo

@{
    ViewData["Title"] = "Detalles";
}

<h1 class="tituloTabla text-center">Detalles</h1>

<h4 class="text-center">Artículo</h4>
<div >
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticuloId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticuloId)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd class = "col-sm-12 bg-white padding-left padding_boton_sm margin-top border border-dark">
            @Html.Raw(Model.Texto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modificaciones)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var modificacion in Model.Modificaciones)
                {
                    <li>
                    @Html.DisplayFor(modelItem => modificacion.Titulo) |
                    <a style="color: darkgoldenrod;" asp-area="" asp-controller="Modificacion" asp-action="Details" asp-route-id="@modificacion.ModificacionId">Detalles</a><br>
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a class="boton_tabla" asp-controller="Modificacion" asp-action="Create" asp-route-id="@Model.ArticuloId">Modificar</a> |
    <a class="boton_tabla back_blue" asp-action="Index">Volver a la lista</a>
</div>
