@model IEnumerable<LeyesTFG.Models.Articulo>

@{
    ViewData["Title"] = "Artículo";
}

<h1>Artículos</h1>

<p>
    <a asp-action="Create">Nuevo artículo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ley)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ley.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.Raw(item.Texto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArticuloId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ArticuloId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticuloId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
