@model IEnumerable<LeyesTFG.Models.Articulo>

@{
    ViewData["Title"] = "Artículo";
}

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensaje"]  
    </div>
}

<h1 class="tituloTabla text-center">Artículos</h1>

<p>
    <a class="boton_tabla" asp-action="Create">Nuevo artículo</a>
</p>

<form asp-action="Index" method="get">
    <div class="col-sm-6 form-actions padding-left bg-white border_2px">
        <p class="margin-top"> 
            Buscar por ley: <input type="text" name="Busqueda" value="@ViewData["Filtro"]" />
            <input type="submit" value="Busqueda" class="boton_tabla back_blue" /> |
            <a class="boton_tabla" asp-action="Index">Lista completa</a>
        </p>
    </div>
</form>

<table bgcolor="#FFFFFF" class="table table-striped margin-top">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ley)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @{
        int i = 0;
        foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ley.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.Raw(ViewBag.truncar[i])
                </td>
                <td class="text-center">
                    <div class="container">
                        <a class="boton_tabla padding_boton_sm" asp-controller="Modificacion" asp-action="Create" asp-route-id="@item.ArticuloId">Modificar</a>
                    </div>
                    <div class="container margin-top">
                        <a class="boton_tabla back_blue padding_boton_sm" asp-action="Details" asp-route-id="@item.ArticuloId">Detalles</a>
                    </div>
                    <div class="container margin-top">
                        <a class="boton_tabla padding_boton_sm bg-danger" asp-action="Delete" asp-route-id="@item.ArticuloId">Borrar</a>
                    </div>
                </td>
            </tr>
            i++;
            }
}
    </tbody>
</table>
