@model LeyesTFG.Models.Modificacion

@{
    ViewData["Title"] = "Evaluar";
}

<h1 class="tituloTabla text-center">Evaluar modificacion</h1>

<h3 class="text-center">
    A continuación usted podrá aceptar o rechazar la modificación.<br />Si la acepta se modificará el texto original del artículo y el resto de modificaciones se rechazarán.
</h3>
<h4 class="text-center">Modificación</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd class = "col-sm-12 bg-white padding-left padding_boton_sm margin-top border border-dark">
            @Html.Raw(Model.Texto)
        </dd>
        <dt class = "col-sm-12">
            Texto original
        </dt>
        <dd class = "col-sm-12 bg-white padding-left padding_boton_sm border border-dark">
            @Html.Raw(Model.Articulo.Texto)
        </dd>
        <dt class = "col-sm-12">
            Texto marcando las diferencias
        </dt>
        <dd class="col-sm-12 bg-white padding-left padding_boton_sm margin-top border border-dark">
            <div style="font-size: 0;">
               @foreach(CharResult resultado in ViewBag.TextoMarcado)
               {
                    <span style="font-size: 16px; white-space: pre-wrap;" class=@resultado.state>@Html.Raw(resultado.c)</span>
               }
           </div>
        </dd>
    </dl>
    
    <form style="display:inline-block;" asp-action="Accept" onclick="return confirm('Estas seguro de querer aceptar esta modificación')">
        <input type="hidden" asp-for="ModificacionId" />
        <input type="submit" value="Aceptar" class="boton_tabla" /> |
    </form>
    <form style="display:inline-block;" asp-action="Denegate" asp-route-id="@Model.ModificacionId" onclick="return confirm('Estas seguro de querer rechazar esta modificación')">
        <input type="hidden" asp-for="ModificacionId" />
        <input type="submit" value="Denegar" class="boton_tabla bg-danger" /> |
    </form>
    <a class="boton_tabla back_blue" asp-action="Index">Volver a la lista</a>
    
    
</div>
    
