@model LeyesTFG.Models.Modificacion

@{
    ViewData["Title"] = "Detalles";
}

<h1 class="tituloTabla text-center">Detalles</h1>

<h4 class="text-center">Modificación</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificacionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificacionId)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd class = "col-sm-12 bg-white padding-left padding_boton_sm margin-top border border-dark">
            @Html.Raw(Model.Texto)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Articulo)
        </dt>
        <dd class = "col-sm-12 bg-white padding-left padding_boton_sm margin-top border border-dark">
            @Html.Raw(Model.Articulo.Texto)
        </dd>
    </dl>
</div>
<div>
    <a class="boton_tabla" asp-action="Edit" asp-route-id="@Model?.ModificacionId">Editar</a> |
    <a class="boton_tabla back_blue" asp-action="Index">Volver a la lista</a>
</div>
