@model LeyesTFG.Models.Modificacion

@{
    ViewData["Title"] = "Detalles";
}

<h1 class="tituloTabla text-center">Detalles</h1>

<h4 class="text-center">Modificación</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificacionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificacionId)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd class = "col-sm-12 bg-white padding-left padding_boton_sm margin-top border border-dark">
            @Html.Raw(Model.Texto)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Articulo)
        </dt>
        <dd class = "col-sm-12 bg-white padding-left padding_boton_sm margin-top border border-dark">
            @Html.Raw(Model.Articulo.Texto)
        </dd>
        <dt class = "col-sm-12">
            Palabras diferentes
        </dt>
        <dd class = "col-sm-12 bg-white padding-left padding_boton_sm margin-top border border-dark">
                <p>Texto agregado</p>
                
                @foreach (var palabra in ViewBag.TextoAgregado)
                {
                    
                        @Html.Raw(palabra)
                    
                }
                
                <p>Texto quitado</p>
                <ul>
                @foreach (var palabra in ViewBag.TextoQuitado)
                {
                    <li>
                        @Html.Raw(palabra)
                    </li>
                }
                </ul>
                <p>Texto marcado</p>
                <div style="font-size: 0;">
                    @foreach(LeyesTFG.Controllers.ModificacionController.CharResult resultado in ViewBag.TextoMarcado)
                    {
                        <span style="font-size: 16px; white-space: pre-wrap;" class=@resultado.state>@Html.Raw(resultado.c)</span>
                    }
                </div>
        </dd>
    </dl>
</div>
<div>
    <a class="boton_tabla" asp-action="Edit" asp-route-id="@Model?.ModificacionId">Editar</a> |
    <a class="boton_tabla back_blue" asp-action="Index">Volver a la lista</a>
</div>
