@model IEnumerable<LeyesTFG.Models.Modificacion>

@{
    ViewData["Title"] = "Modificación";
}

<h1 class="tituloTabla text-center">Modificaciones</h1>

<p>
    <a class="boton_tabla" asp-action="Create">Nueva modificación</a>
</p>
<table bgcolor="#FFFFFF" class="table table-striped margin-top">
    <thead>
        <tr>
            <th>
                Artículo a modificar
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.Raw(item.Texto)
            </td>
            <td class="text-center">
                <div class="container">
                    <a class="boton_tabla padding_boton_sm" asp-action="Edit" asp-route-id="@item.ModificacionId">Editar</a>
                </div>
                <div class="container margin-top">
                    <a class="boton_tabla back_blue padding_boton_sm" asp-action="Details" asp-route-id="@item.ModificacionId">Detalles</a>
                </div>
                <div class="container margin-top">
                    <a class="boton_tabla padding_boton_sm bg-danger" asp-action="Delete" asp-route-id="@item.ModificacionId">Borrar</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
