@model IEnumerable<LeyesTFG.Models.Modificacion>

@{
    ViewData["Title"] = "Modificación";
}

<h1>Modificaciones</h1>

<p>
    <a asp-action="Create">Nueva modificación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Articulo a modificar
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.Raw(item.Texto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ModificacionId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ModificacionId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ModificacionId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
